/////////////////////////////////////////////////////////////
//--(TYPOGRAPHY)------------------------------------------//
///////////////////////////////////////////////////////////
body {
  font-family: var(--ff-primary);
}

a {
  text-decoration: none;
  color: inherit;
  height: 100%;
  width: 100%;
}