/////////////////////////////////////////////////////////////
//--(VARIABLES)-------------------------------------------//
///////////////////////////////////////////////////////////
:root {
  --ff-primary: 'Roboto', sans-serif;
  
  --fw-reg: 300;
  --fw-bold: 900;
  
  --clr-primary: #FF5252;
  --clr-secondary: #C4C4C4;
  --clr-detail: #00C1AA;

  --header-height: 7rem;

  --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
        0.125em 0.125em 0.25em rgba(0,0,0,.15);
}