/////////////////////////////////////////////////////////////
//--(HOME)------------------------------------------------//
///////////////////////////////////////////////////////////
.main {
  height: calc(100vh - var(--header-height));
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-videos {
  width: 100%;
  height: 100%;

  padding: 4rem 3rem;
  
  &__videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  &__title {
    margin-bottom: 3rem;
    font-size: 2.8rem;
  }
}