/////////////////////////////////////////////////////////////
//--(EDIT-VIDEO)------------------------------------------//
///////////////////////////////////////////////////////////
.edit-video {

  &__title {
    margin-bottom: 2rem;
    border-bottom: 1px solid rgba(0,0,0,.5);
    padding-bottom: 1rem;
  }

  &__form {
    display: grid;
    grid-gap: 2rem;
    grid-template-areas: "title url-video"
                         "description description";

    .title {
      grid-area: title;
    }

    .url-video {
      grid-area: url-video;
    }

    .description {
      grid-area: description;
    }
  }

  &__input {
    font-family: var(--ff-primary);
    font-size: 1.4rem;
    line-height: 1.6rem;
    padding: 1rem;
    border: none;
    border: 1px solid rgba(0,0,0,.5);

    transition: all .5s;
  }

  &__input:focus {
    border: 1px solid #00C1AA;
  }
}